"dtu-abaqus-blade/geometry/DTU_10MW_refblade_structural.stp" filter=lfs diff=lfs merge=lfs -text
"dtu-abaqus-blade/structural_models/ABAQUS/refblade.cae" filter=lfs diff=lfs merge=lfs -text
"dtu-abaqus-blade/structural_models/ABAQUS/refblade_mesh.inp" filter=lfs diff=lfs merge=lfs -text
"openfast-v330-adaptation/0Linearization/Campbell_Servo/ws10Mode11LinTime1_yz.avi" filter=lfs diff=lfs merge=lfs -text
"dtu-report/DTU_Wind_Energy_Report-I-0092.pdf" filter=lfs diff=lfs merge=lfs -text
"runtime-binaries/openfast_x64.exe" filter=lfs diff=lfs merge=lfs -text
"runtime-binaries/OpenFAST.exe" filter=lfs diff=lfs merge=lfs -text
"runtime-binaries/openfast_x64_v353.exe" filter=lfs diff=lfs merge=lfs -text
"runtime-binaries/TurbSim.exe" filter=lfs diff=lfs merge=lfs -text
"runtime-binaries/TurbSim_OpenMP.exe" filter=lfs diff=lfs merge=lfs -text
"openfast-v330-adaptation/0Linearization/Campbell_Servo/ws10Mode11LinTime1_xy.avi" filter=lfs diff=lfs merge=lfs -text
"openfast-v330-adaptation/0Linearization/Campbell_Servo/ws10Mode11LinTime1_xz.avi" filter=lfs diff=lfs merge=lfs -text
"era5-derived-workbook/Jiayu_Paizhouwan_ERA5_2005_2025.xlsx" filter=lfs diff=lfs merge=lfs -text
